.blocked-square {
  background-color: gray;
}

.open-square {
  background-color: white;
}

.coin-square {
  background-color: white;
}

.ghost-square {
  background-color: blue;
}

.pacman-square {
  background-color: yellow;
}

.empty-square {
  color: black;
}

.inactive-square {
  font-weight: normal;
}

.active-square {
  font-weight: bold;
  animation: blinkingText 2s infinite;
}

@keyframes blinkingText{
		0%		{ color: #10c018;}
		25%		{ color: #1056c0;}
		50%		{ color: #ef0a1a;}
		75%		{ color: #254878;}
		100%	{ color: #04a1d5;}
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
ol, ul {
  padding-left: 30px;
}
  
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
  
.status {
  margin-bottom: 10px;
}
  
.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
  
.square:focus {
  outline: none;
}
  
.kbd-navigation .square:focus {
  background: #ddd;
}
  
.game {
  display: flex;
  flex-direction: row;
}
  
.game-info {
  margin-left: 20px;
}
  